.card-task{
    margin: 15px 0;
    padding: 12px;
    font-size: 1.2rem;   
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.low-priority{
    background-color: rgb(14, 212, 14);
    color: black;
}

.medium-priority{
    background-color: rgb(209, 209, 3);
    color: black;
}
.high-priority{
    background-color: rgb(209, 3, 3);
    color: rgb(250, 249, 249);
}