/* You can add global styles to this file, and also import other style files */
body{
    background-color: antiquewhite;
}
.low{
    border: rgba(14, 212, 14, 0.849) solid 3px;
}

.medium{
    border: rgba(209, 209, 3, 0.953) solid 3px;
}
.high{
    border: rgba(222, 12, 12, 0.84) solid 3px;
}
